.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/butter-1.png);
}
.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/butter-2.jpg);
}
.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/batter-3.avif);
}
.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/butter-6.jpeg);
}
.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/butter-5.jpg);
}
.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/butter-4.jpg_480Wx480H);
}
.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/egg-1.webp);
}
.set-bg-8 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/butter&egg/egg2.jpg);
}


/* 
Haleeb Butter
Olper's Butter
Almarai Butter */
/* Dairyland Butter */
/* Desi Butte */
/* Salted Butter */
/* Brown eggs */
/* frame */