.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/main-1.webp);
}

.set-bg-0 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-1.jpeg);
}

.set-bg-1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-2.jpg);
}

.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-3.jpg);
}

.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-4.jpg);
}

.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-5.jpeg);
}

.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-6.avif);
}

.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-7.jpeg);
}

.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fastfood/food-8.jpg);
}


#banner{
	display: flex;
}