.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/ftreashmeat3.jpg);
}
.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/bief-2.webp);
}
.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/hen-1.avif);
}
.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/hen-2.jpeg);
}
.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/fish-1.jpg);
}
.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/fish-2.jpeg);
}
.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/goat-3.jpeg);
}
.set-bg-8 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/hero/goat-4.jpeg);
}