.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-1.jpg);
}


.set-bg-0 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-2.jpeg);
}

.set-bg-1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-3.jpeg);
}

.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-4.avif);
}

.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-5.jpeg);
}

.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-6.jpeg);
}

.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-7.jpeg);
}

.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-8.avif);
}

.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/fruit/fruit-9.jpeg);
}