.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-0 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-1.jpg);
}

.set-bg-1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-2.jpeg);
}

.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-3.jpeg);
}

.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-4.webp);
}

.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-5.avif);
}

.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-6.jpeg);
}

.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nut-7.jpg);
}

.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/nuts/nuts-8.webp);
}