.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/fruit&nutgift/pngtree-nut-dry-fruit-almond-kernel-padan-fruit-image_1013427.jpg);
}

.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}

.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(https://img.freepik.com/premium-photo/nuts-dried-fruits-dried-apricots-figs-raisins-pecans-walnuts-hazelnuts-almonds-other-white-background-top-view_630207-2866.jpg);
}
