.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img//vagetable/vagetable-main.jpg);
}
.set-bg-2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-1.jpeg);
}
.set-bg-3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-2.jpeg);
}
.set-bg-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-3.avif);
}
.set-bg-5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-4.jpg);
}
.set-bg-6 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-.jpeg);
}
.set-bg-7 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-6.png);
}
.set-bg-8 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url(../img/vagetable/vagetable-7.jpeg);
}



/* Lady's Finger/Okra  */
/* Bitter Gourd  */
/* Carrots */
/* Bell Pepper */
/* Green Peas */
/* Cabbage */
/* Cauliflowe */
